
@font-face {
                          font-family: "RedHatDisplay-Bold";
                          src: url('../fonts/RedHatDisplay-Bold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "RedHatDisplay-Regular";
                          src: url('../fonts/RedHatDisplay-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "RedHatDisplay-Medium";
                          src: url('../fonts/RedHatDisplay-Medium.ttf') format("truetype");
                        }
   

  
  .login {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter1 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter1-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter1-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter1-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter1-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter2 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter2-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter2-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter2-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter2-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter3 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter3-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter3-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter3-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter3-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter4 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter4-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter4-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter4-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter4-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter5 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter5-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter5-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter6 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter6-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter7 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter7-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.login .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 98px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : -37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group .net {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 74.13px;
  color               : rgba(8, 45, 64, 1.0);
  text-align          : center;
  line-height         : 98.0px;
}
.login .group .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 53px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 226px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group .logo .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group .logo .triangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 18px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group .logo .triangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .got {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 21.39px;
  color               : rgba(8, 45, 64, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.login .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : 83px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group4 .rectangle2 {
  background-color    : rgba(236, 236, 236, 1.0);
  top                 : 0px;
  height              : 38px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

#textboxID {
  height: 30px; 
  width: 278px;
  font-size: 10pt;
  position: relative;
  background-color: rgba(236, 236, 236, 1.0);
  border-radius: 5px;
  font-family         : "RedHatDisplay-Light", Helvetica, Arial, serif;
  border: 0;
}

input[type=text] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}


.login .group4 .rectangle1 {
  background-color    : rgba(236, 236, 236, 1.0);
  top                 : 45px;
  height              : 30px;
  width               : 278px;
  position            : absolute;
  border-radius       : 5px;
  font-family         : "RedHatDisplay-Light", Helvetica, Arial, serif;

  font-size: 10pt;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  border: 0;

}
.login .group4 .exampleemailcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(138, 138, 138, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.login .group4 .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : auto;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(138, 138, 138, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.login .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 368px;
  height              : 33px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 227px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group3 .register {
  background-color    : rgba(236, 210, 103, 1.0);
  top                 : 0px;
  height              : 33px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group3 .login1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.login .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 411px;
  height              : 33px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 227px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group2 .register {
  background-color    : rgba(236, 210, 103, 1.0);
  top                 : 0px;
  height              : 33px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group2 .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "RedHatDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.login .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 119px;
  height              : 1px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 506px;
  height              : 296px;
  width               : 545px;
  position            : relative;
  margin              : 0;
  left                : -85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .path26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 633px;
  height              : 292px;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : -20px;
  /* right: -40px; */
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}