
.mobileShow { display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}

.mobileHide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;

}

.mobileHide { display: inline; }

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
   .mobileHide { display: none;}
}
